{% extends "base.html" %}

{% block core %}
<div class="core_title">
  <h1>Add multiple Users by file</h1>
</div>
<span id="update_time"></span>


<h2 id="title_add_multiple_users" class="toggling_on">File upload</h2>
<div id="add_multiple_users">
    <form enctype="multipart/form-data" action="{{ url("users", "userfileadd") }}" method="post">
    {{ xsrf_form_html|safe }}
        File: <input type="file" name="upload_user_file" />
        <br />
        <br />
        <input type="submit" value="Upload" />
        <div class="hr"></div>
</div>


</div>
{% endblock core %}
