{% extends "base.html" %}

{% block core %}

<div class="core_title">
  <h1>Manuals</h1>
</div>

<p>These files do document the most frequently used features in the admin panel. </p>
<a href="{{ url("static", "CreateUser.pdf") }}" download>Create new User</a>
<br>
<a href="{{ url("static", "CreateContest.pdf") }}" download>Create new Contest</a>
<br>
<a href="{{ url("static", "CreateTask.pdf") }}" download>Create new Task</a>
<br>
<a href="{{ url("static", "CreateExerciseAndAddTaskToExercise.pdf") }}" download>Create new Exercise and add Task to Exercise</a>
<br>
<a href="{{ url("static", "AddTestCaseToTask.pdf") }}" download>Add Testcase to Task</a>
<br>
<a href="{{ url("static", "AddUserToContest.pdf") }}" download>Add User to Contest</a>
<br>
<a href="{{ url("static", "AddExerciseToContest.pdf") }}" download>Add Exercise to Contest</a>
<br>
{% endblock core %}

