{% extends "contest.html" %}

{% set page = "passwordReset" %}

{% block core %}
<div class="span9">
    <form action="{{ contest_url("passwordReset") }}" method="POST">
      {{ xsrf_form_html|safe }}
      <div class="page-header">
          <h1>{% trans %}Password Reset{% endtrans %}</h1>
      </div>

      <h2>Set a new password</h2>
      <p>Password must be at least 6 characters long</p>

      <input type="password" name="password_1" id="password_1" onkeyup="compare_passwords()" placeholder="enter new password">
      <br>
      <br>
      <input type="password" name="password_2" id="password_2" onkeyup="compare_passwords()" placeholder="repeat new password">
      <br>
      <br>
      <button type="submit" id="pw_change_button" class="btn btn-success" disabled="true">{% trans %}Submit{% endtrans %}</button>
  </form>
</div>
<script>
  function compare_passwords() {
    var pw1, pw2, bt1;
    pw1 = document.getElementById("password_1");
    pw2 = document.getElementById("password_2");
    bt1 = document.getElementById("pw_change_button");
    if ((pw1.value === pw2.value) && pw1.value.length > 5) {
      bt1.disabled = false;
    }
    else {
      bt1.disabled = true;
    }
  }
</script>


{% endblock core %}
